{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link type="text/css" href="{% static 'main/css/style.css' %}" rel='stylesheet'>
    <link type="text/css" href="{% static 'main/boot/css/bootstrap.min.css' %}" rel='stylesheet'>
    
</head>

<body>
    <div class="min-vh-100 d-flex flex-column">
        <!-- Header -->
        {% include "main/include/header.html" %}
       

        <!-- Navigation -->
        {% include "main/include/nav.html" %}
       

    {% block content %} {% endblock %}

        <!-- Footer -->
        {% include "main/include/footer.html" %}
    
</body>
</html>